@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

* {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
header h1 {
  font-size: 5.3rem;
  color: #F3F3F3;
  font-weight: bold;
  font-family: "Balsamiq Sans", cursive;
}

main {
  display: flex;
  height: 90vh;
}
main .subjects {
  width: 20vw;
  background-color: #0077FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .subjects h2 {
  color: #F3F3F3;
  font-weight: bold;
  margin: 1rem 0;
  text-decoration: underline;
}
main .subjects .subjectContainer {
  width: 100%;
  overflow-y: auto;
}
main .subjects .subjectContainer .empty {
  color: #F3F3F3;
  text-align: center;
}
main .subjects .subjectContainer .card {
  width: 100%;
}
main .subjects .subjectContainer .card:nth-child(odd) {
  background-color: #2E90FF;
}
main .subjects .subjectContainer .card:hover {
  background-color: #0064D6;
  cursor: pointer;
}
main .subjects .subjectContainer .card .card-titel {
  color: #F3F3F3;
  padding: 2rem 0;
  text-align: center;
}
main .list {
  width: 80vw;
  height: 100%;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list .data {
  height: 70%;
  width: 100%;
}
main .list .data h2 {
  color: #2B2B2B;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}
main .list .data .points {
  max-height: 26rem;
  overflow-y: auto;
}
main .list .data ul {
  margin-left: 10rem;
  margin-right: 10rem;
}
main .list .data ul li {
  border-bottom: 1px solid #2B2B2B;
  color: #2B2B2B;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
main .list .data ul li .delete {
  width: 3rem;
  height: 3rem;
  transition: transform 0.7s;
}
main .list .data ul li .delete:hover {
  cursor: pointer;
  transform: scale(1.2);
}
main .list .new {
  width: 100%;
  height: 30%;
}
main .list .new form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .list .new form input {
  width: 70%;
  background-color: #2E90FF;
  border: none;
  border-radius: 2rem;
  color: #F3F3F3;
  padding: 1.5rem 2rem;
  outline: none;
}
main .list .new form input::placeholder {
  color: #F3F3F3;
}
main .list .new form .buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  width: 73%;
}
main .list .new form .buttons button {
  background-color: #0077FF;
  color: #F3F3F3;
  border: none;
  border-radius: 2rem;
  padding: 2rem 2rem;
  width: 100%;
  margin-right: 3rem;
  outline: none;
}
main .list .new form .buttons button:hover {
  background-color: #0064D6;
}
main .list .new form .buttons button:last-child {
  background-color: #a60000;
  margin-right: 0;
}
main .list .new form .buttons button:last-child:hover {
  background-color: #850000;
}

/*# sourceMappingURL=index.css.map */
